body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:gray
}
.calculator {
    width: 200%;
    max-width: 400px;
    margin-left: 70px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: black
}
h2,p{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.calculator input{
    width: 100%;
    height: 100px;

    text-align: right;
    margin-bottom: 15px;
    font-size: 50px;
    outline:none;
    border-radius: 10px;
    padding-right: 1px;
}
.calculator button {
    width: 22%;
    height: 80px;
    font-size: 25px;
    margin:1%;
    border-radius: 50%;
}

/* Additional CSS for responsive design */
@media (max-width: 576px) {
    .calculator {
        width: 90%;
        padding: 10px;
    }
    .calculator button {
        width: 48%;
        margin:1%;
    }
}
